@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Elegant;
  src: url("../public/fonts/against_regular.otf");
}

@font-face {
  font-family: "future";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/ANDMOREY\ Regular.woff") format("woff");
}
.btns {
  display: flex;
  column-gap: 2rem;
  /* background: white; */
}
.btn {
  padding: 10px;
  /* margin: 5px; */
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.131);
  color: aliceblue;
  cursor: pointer;
  transition: all 0.25s ease-in;
  &:hover {
    scale: 1.2;
  }
}
.btns:has(.btn:hover) .btn:not(:hover) {
  scale: 0.8;
  opacity: 0.8;
  filter: blur(4px);
}
.login {
  background-image: url("../public/space-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.elegant {
  font-family: "Elegant", serif;
}
/* .heading {
  font-family: "future", serif;
} */
.input {
  @apply rounded-md border bg-slate-900 bg-opacity-50 p-2 text-current outline-none focus:outline-none dark:border-slate-100 dark:border-opacity-5 dark:text-white;
}
.card {
  @apply rounded-3xl border bg-opacity-50 p-5 shadow-2xl shadow-slate-400 dark:border-slate-100 dark:border-opacity-5 dark:shadow-slate-800 dark:backdrop-blur-md;
}
.btn-primary {
  @apply m-3 rounded-3xl border bg-indigo-900 bg-opacity-50 p-2 text-current outline-none transition-all duration-500 hover:bg-opacity-100  focus:outline-none dark:border-slate-100 dark:border-opacity-5 dark:text-white;
}
.btn-secondary {
  @apply m-3 cursor-pointer rounded-3xl border bg-green-600 bg-opacity-75 p-2 text-current outline-none transition-all duration-500 hover:bg-opacity-100  focus:outline-none dark:border-slate-100 dark:border-opacity-5 dark:text-white;
}
.message-recieved {
  @apply m-3 w-fit rounded-2xl rounded-es-none p-3 dark:bg-green-600;
}
.message-sent {
  @apply m-3 w-fit rounded-2xl rounded-ee-none p-3 dark:bg-blue-600;
}
.btn-form {
  @apply cursor-pointer rounded-lg bg-blue-800  p-3 font-bold text-current outline-none backdrop-blur-2xl transition-all duration-500 hover:bg-opacity-100 focus:outline-none dark:border-slate-100 dark:border-opacity-5 dark:text-white;
}
.btn-text {
  @apply cursor-pointer rounded-lg bg-blue-800   font-bold text-current outline-none backdrop-blur-2xl transition-all duration-500 hover:bg-opacity-100 focus:outline-none dark:border-slate-100 dark:border-opacity-5 dark:text-white;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  height: 20px;
  background: orange;
  position: relative;
  animation: l19-0 1.5s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  background: inherit;
  bottom: 100%;
  width: 50%;
  height: 100%;
  animation: inherit;
  animation-name: l19-1;
}
.loader:before {
  left: 0;
  --s: -1, 1;
}
.loader:after {
  right: 0;
}
@keyframes l19-0 {
  0%,
  30% {
    transform: translateY(0) scaleY(1);
  }
  49.99% {
    transform: translateY(-50%) scaleY(1);
  }
  50% {
    transform: translateY(-50%) scaleY(-1);
  }
  70%,
  100% {
    transform: translateY(-100%) scaleY(-1);
  }
}
@keyframes l19-1 {
  0%,
  10%,
  90%,
  100% {
    transform: scale(var(--s, 1)) translate(0);
  }
  30%,
  70% {
    transform: scale(var(--s, 1)) translate(20px);
  }
  50% {
    transform: scale(var(--s, 1)) translate(20px, 20px);
  }
}
.img-1 {
  background: radial-gradient(rgba(0, 15, 46, 0.408), rgb(0, 8, 27)),
    url("../public/cave-big.png");

  @apply hidden h-screen w-screen bg-cover bg-center bg-no-repeat md:absolute md:block;
}
.img-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.366), rgba(2, 6, 23)),
    url("../public/mountains-hd.jpg");
  @apply -z-10 hidden h-screen w-screen bg-cover bg-center bg-no-repeat md:absolute md:block;
}
#after-header {
  background: linear-gradient(
    rgba(2, 6, 23),
    rgba(2, 6, 23, 0.848),
    rgba(2, 6, 23)
  );
}
.bg-diagonal {
  background: linear-gradient(
    180deg,
    rgba(2, 6, 23, 1) 50%,
    rgb(0, 37, 64) 100%
  );
}
.bg-transition {
  background-color: rgb(0, 37, 64);
}

.span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow:
    0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1),
    0 0 20px rgba(255, 255, 255, 0.1);
  animation: animate 3s linear infinite;
  opacity: 0.8;
}
.span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}
.span:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0s;
  animation-duration: 1s;
}
.span:nth-child(2) {
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}
.span:nth-child(3) {
  top: 80;
  right: 0px;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 2s;
}
.span:nth-child(4) {
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}
.span:nth-child(5) {
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}
.span:nth-child(6) {
  top: 0;
  right: 600px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 3s;
}
.span:nth-child(7) {
  top: 300px;
  right: 0px;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 1.75s;
}
.span:nth-child(8) {
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}
.span:nth-child(9) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}
.span:nth-child(9) {
  top: 0px;
  right: 450px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.75s;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.349);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(197, 197, 197, 0.259);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eaeaeab5;
}
